@import "../abstracts/colors.scss";

.view- {
  background-color: $image-layer;
  background-image: url("../assets/bg-amps-books-tapes.jpg");
  background-blend-mode: difference;
}

.view-create {
  background-color: $image-layer;
  background-image: url("../assets/bg-amps-books-tapes.jpg");
  background-blend-mode: difference;

  display: flex;
  flex-direction: column;
}

.view-listen {
  background-color: $image-layer;
  background-image: url("../assets/bg-amps-books-tapes.jpg");
  background-blend-mode: difference;
}

.view-share {
  background-color: $image-layer;
  background-image: url("../assets/bg-amps-books-tapes.jpg");
  background-blend-mode: difference;
}
