$bg-light-hover: hsl(209, 17%, 51%);
$bg-light: #495e72;
$bg-primary: rgba(44, 62, 80, 0.85);

$hl1-primary: hsl(16, 100%, 66%);
$hl1-dark: #b23e15;
$hl1-light: #ffa37e;

$hl2-primary: #bad8d5;
$hl2-medium: #93b9b6;
$hl2-dark: #76a8a3;

$image-layer: #4a7c7c;

$border1: "1px solid $hl1⁻primary";
$border-radius: 8px;
