//  ****************************    COLORS
// $bg-primary: #2c3e50;
$bg-light: #495e72;
$bg-primary: rgba(44, 62, 80, 0.85);

$hl1-primary: hsl(16, 100%, 66%);
$hl1-dark: #b23e15;
$hl1-light: #ffa37e;

$hl2-primary: #bad8d5;
$hl2-medium: #93b9b6;
$hl2-dark: #76a8a3;

$image-layer: #4a7c7c;

$border1: "1px solid $hl1⁻primary";

//  ********************************    FONTS

.righteous-regular {
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.rubik-mono-one-regular {
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
}

.monoton-regular {
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

//  *************************   ROOT AND VIEWS

#root {
  font-family: "Rubik Mono One";
  box-sizing: border-box;
}

p {
  font-family: "Ubuntu";
  font-weight: 300;
  color: $hl2-medium;
  font-size: 1.5em;
}

.title {
  font-weight: bold;
}

.artist {
  font-style: italic;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.app {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  color: $hl2-primary;
  overflow: auto;
}

.view- {
  background-color: $image-layer;
  background-image: url("../src/assets/bg-amps-books-tapes.jpg");
  background-blend-mode: difference;
}

.view-create {
  background-color: $image-layer;
  background-image: url("../src/assets/bg-amps-books-tapes.jpg");
  background-blend-mode: difference;

  display: flex;
  flex-direction: column;
}

.view-listen {
  background-color: $image-layer;
  background-image: url("../src/assets/bg-amps-books-tapes.jpg");
  background-blend-mode: difference;
}

.view-share {
  background-color: $image-layer;
  background-image: url("../src/assets/bg-amps-books-tapes.jpg");
  background-blend-mode: difference;
}

//  ******************  HEADER

.header-container {
  background-color: $bg-primary;
  height: 120px;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  border-bottom: 3px solid $hl1-primary;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  h1 {
    color: $hl1-primary;
    font-size: 4.5em;
    margin: 0 8em 0 0.5em;
    font-family: "Monoton";
  }
}

.nav-container {
  display: flex;
  justify-content: end;
  width: 60%;
}
nav {
  width: 90%;

  ul {
    display: flex;
    padding: 0 0.5em;
    margin: 0;
    justify-content: space-around;
    align-items: flex-end;
    list-style: none;
    li {
      a {
        display: block;
        color: $hl1-light;
        text-decoration: none;
        transition: all 0.3s ease;
        margin-left: 3em;
        border: 3px solid $hl1-primary;
        border-bottom: none;
        padding: 1em 1em 0 3em;
        border-radius: 20px 20px 0 0;
      }
    }
  }
}

nav ul li a.active {
  padding-top: 1.8em;
}

.logo {
  color: $hl1-light;
  font-size: 5em;
  margin-bottom: 17px;
  padding: 0;
  display: flex;
}

.wrapper {
  padding: 5%;
  margin-top: 100px;
}

// ************************* content

.home-container {
  padding: 0 2em;
  margin: 2em;
  h2 {
    font-size: 2em;
  }
}

.create-container,
.search-container {
  width: 80%;
  max-width: 1000px;
  margin: auto;
  padding: 1em;
  overflow: auto;
}

.create-options {
  display: flex;
  justify-content: space-around;
}

.content-container {
  width: 80%;
  max-width: 1000px;
  margin: auto;
  background-color: $bg-primary;
  overflow: auto;
  border: 3px solid $hl1-primary;
  border-radius: 8px;
  // box-shadow: inset 0 0 10px $hl1-light;
}

.first-wrapper {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5em;
  width: 20%;
  max-width: 300px;
  input {
    border-radius: 5px;
    font-size: 1.2em;
  }
}

.import-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;
}

.result {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  margin: 1em auto;
  background-color: $hl1-primary;
  border-radius: 8px;
  p {
    margin: auto;
    font-size: 1.2em;
    color: $bg-light;
  }
  img {
    max-height: 50px;
  }
}

.export-list {
  list-style: none;
}

//  ************************ SIDEBAR

.sidebar-wrapper {
  width: 30%;
  max-width: 350px;
  height: 100%;
  position: fixed;
  right: 0;
  margin-top: 123px;
}

.sidebar-container {
  background-color: $bg-primary;
  border-left: 3px solid $hl1-primary;
  width: 100%;
  max-width: 350px;
  height: 100%;
  position: sticky;
  right: 0;
  top: 0;
  overflow: auto;
  z-index: 1;
}

.sidebar-item {
  display: flex;
  .sidebar-inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 5px;
  }
  input {
    background-color: $bg-primary;
    border: none;
    font-size: 1em;
    font-family: "Righteous";
    color: $hl2-primary;
  }
  img {
    max-height: 4em;
  }
}

.sidebar-footer {
  width: 50%;
  margin: 2em auto;
  display: flex;
  justify-content: space-around;
}

// *********************** PLAYER

.player-container {
  max-width: 1000px;
  margin: auto;
  padding: 1em;
  overflow-y: auto;
}

.player-playlist {
  list-style: none;
}

.playlist-item {
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 85%;

  .playlist-item-text {
    text-align: left;
    width: 100%;
  }
}

.playing {
  background-color: $bg-light;
}

img {
  max-width: auto;
  max-height: 100%;
  position: relative;
  top: 15%;
}

.currently-playing {
  display: flex;
  justify-content: space-between;
}

.controls {
  display: flex;
  margin: 0.5em auto;
  justify-content: space-between;
  flex-grow: 1;
  button {
    flex-grow: 1;
  }
}

//  ******************************** Speakers

.speaker {
  border: 2px solid $hl1-primary;
  border-radius: 8px;
  padding: 1.5em;
  overflow: hidden;
}

.speaker-inside {
  height: 8em;
  min-width: 8em;
  background-color: $hl1-light;
  border-radius: 50%;
  position: relative;
}

.speaker-inside-active {
  height: 8em;
  min-width: 8em;
  background-color: $hl1-light;
  border-radius: 50%;
  position: relative;
  animation: pulse 0.8s infinite ease-in;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.45);
  }
}

//  ******************************** BUTTONS

.control-button {
  font-size: 2em;
  background-color: $bg-light;
  border: none;
  padding: 5px;
  margin: 2px;
  border-radius: 8px;
  color: $hl1-primary;
  :hover {
    color: $hl1-light;
  }
}

.add-button {
  font-size: 2em;
  background-color: $hl1-primary;
  color: $bg-primary;
  border: none;
  :hover {
    color: $bg-light;
  }
}

.sidebar-button,
.playlist-button,
.import-button {
  font-size: 2em;
  background-color: transparent;
  color: $hl1-primary;
  border: none;
  :hover {
    color: $hl1-light;
  }
}

.import-button {
  display: inline-block;
  color: $bg-primary;
  flex-shrink: 1;
  max-width: 50px;
}

.browse {
  color: $bg-primary;
  background-color: $hl1-primary;
  border: none;
  border-radius: 5px;
  font-size: 1em;
}

.playlist-button {
  margin-right: 1em;
}

.toggle-button,
.toggle-out-button {
  font-size: 2em;
  background-color: $bg-primary;
  color: $hl1-primary;
  border: 3px solid $hl1-primary;
  border-right: none;
  border-radius: 8px 0 0 8px;
}

.toggle-button {
  position: absolute;
  right: 0;
  top: 50%;
}

.toggle-out-button {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateX(-100%);
}

.download-button,
.import-button {
  font-size: 5em;
  background-color: $bg-primary;
  color: $hl1-primary;
  border: none;
  :hover {
    color: $hl1-light;
  }
}

.continue-button {
  color: $bg-primary;
  background-color: $hl1-primary;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  :hover {
    background-color: $hl1-light;
  }
}
